.container {
  display: flex;
  align-items: center;
}

.image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.moreButton {
  fill: #b9b9b9;
  opacity: 1;
  margin-left: auto;
  cursor: pointer;
}
