.arrow {
  padding: 8px;
  position: absolute;
  top: 30px;
  right: 28px;
  cursor: pointer;
  color: #4158f6;
}

.allButton {
  position: absolute;
  bottom: 17px;
  right: 21px;
}

.container {
  margin-left: 15px;
}
