@import url(../../constants/globalVariables.scss);

.logo {
  cursor: pointer;
  margin-left: 20px;
}

.toolbar {
  margin: 0 auto;
  padding-left: 39px;
  padding-right: 49px;
}

.icon {
  fill: #eeeeee;
}

.iconButton {
  padding: 8px;
}

.searchField {
  display: flex;
  margin-left: 80px;
  border-radius: 10px;
  width: 570px;
  height: 30px;
  background-color: #3841dc;
  padding: 5px;
}

.searchIcon {
  width: 21px;
  height: 21px;
}

.exitButton {
  margin-left: 38px;
}
