@import url(../../constants/globalVariables.scss);

.header {
  padding: 0 var(--side-padding);
}

.toolbar {
  padding-left: 47px;
  padding-right: 49px;
}

.searchField {
  display: flex;
  margin-left: 80px;
  border-radius: 10px;
  width: 570px;
  height: 30px;
  background-color: #3841dc;
  padding: 5px;
}

.searchButton {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.searchIcon {
  width: 21px;
  height: 21px;
}
