@import url(../../constants/globalVariables.scss);

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.blueBg {
  background-color: #4158f6;
}

.greyBg {
  background-color: #e8edf1;
}

.cover {
  padding: 61px 0 33px;
  width: 1024px;
  margin: 0 auto;
}

.userInfo {
  margin-left: 78px;
  margin-right: auto;
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.badge {
  width: 70px;
}

.icon {
  background-color: #e8edf1;
  fill: #b3b3b3;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 3px;
  cursor: pointer;
}

.avatar {
  width: 64px;
  height: 64px;
}

.contentBox {
  padding-bottom: 41px;
  display: flex;
  width: 1024px;
  margin: 0 auto;
  flex-grow: 1;
}

.sideBar {
  margin-top: 40px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

.navBox {
  display: flex;
  margin-bottom: 25px;
  align-items: center;
  &_active {
    .navIcon {
      fill: #4158f6;
    }
    .navText {
      color: #4158f6;
    }
  }
}

.navText {
  margin-left: 33px;
}

.navIcon {
  fill: #c2c9ce;
}

.mainContent {
  margin-left: 44px;
  transform: translateY(-170px);
}

.caption {
  margin-top: auto;
}
